{% extends "base.html" %}
{% block content %}
  <h1>JMX Threads Browser</h1>
  <p>Connect to a remote JVM using JMX/RMI and press "search"  to inspect its threads dynamically
	(BPM=5119,
	SOA=5120,
	BE-CANALI=5121,
	H24=5122,
	PAPERLESS=5123)
</p>
  <hr >
  <form action="/pool" method="GET">
  	<label>host</label><br />
  	<input type="text" name="host" value="{{host}}" /><br />
  	<label>port</label><br />
  	<input type="text" name="port" value="{{port}}" /><br />
  	<label>prefix</label><br />
  	<input type="text" name="prefix"  value="{{prefix}}" /><br />
  	<br />
  	<input type="submit" value="search" />
  	<hr />
  </form>
  </p>
  <h3>Found {{count}} threads beginning with "{{prefix}}" ({{acceptors}} acceptors, {{workers}} workers, {{parked}} parked)</h3>
  
  <table class="table table-striped" width="100%">
	  <tr>
	  	<th>ID</th>
	  	<th>Name</th>
	  	<th>State</th>
	  	<th>Lockname</th>
	  </tr>
  {% for item in thread-names %}
	  <tr>
          	<td>{{item|first}}</td>
			<td>{{item.1}}</td>
			<td>{{item.2}}</td>
			<td>{{item.3}}</td>
  	  </tr>
  {% endfor %}
  </table>  
{% endblock %}
